$primary: #0066FF !default;
$secondary: #AC1AD1 !default;
$success: #00D682 !default;
$info: #00C4FF !default;
$warning: #DEBA21 !default;
$danger: #E91F53 !default;
$light: #DDE9FB !default;
$dark: #001B42 !default;
$dark-bg: #000D20;

// Header
$header-height: 75px;

// Border radius
$border-radius: 10px;
$border-radius-2: 8px;

// Tabs
